<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.joelapenna.foursquared"
  android:versionName="2009-08-09"
  android:versionCode="2009080900">

  <uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission
    android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission
    android:name="android.permission.INTERNET" />
  <uses-permission
    android:name="android.permission.READ_PHONE_STATE" />

  <uses-sdk
    android:minSdkVersion="3" />

  <application
    android:name="Foursquared"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:theme="@style/FoursquareTheme">

    <uses-library
      android:name="com.google.android.maps" />

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".AddVenueActivity"
      android:label="@string/add_venue_activity_label">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>


    <activity
      android:name=".BrowsableActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW" />
        <category
          android:name="android.intent.category.DEFAULT" />
        <category
          android:name="android.intent.category.BROWSABLE" />
        <data
          android:scheme="http"
          android:host="playfoursquare.com"
          android:pathPrefix="/venue/" />
        <data
          android:scheme="http"
          android:host="m.playfoursquare.com"
          android:pathPrefix="/venue/" />
        <data
          android:scheme="http"
          android:host="playfoursquare.com"
          android:pathPrefix="/login" />
        <data
          android:scheme="http"
          android:host="m.playfoursquare.com"
          android:pathPrefix="/login" />
        <data
          android:scheme="http"
          android:host="playfoursquare.com"
          android:pathPrefix="/checkins" />
        <data
          android:scheme="http"
          android:host="m.playfoursquare.com"
          android:pathPrefix="/checkins" />
      </intent-filter>
    </activity>


    <activity
      android:name=".FriendsActivity"
      android:label="@string/checkins_activity_label"
      android:launchMode="singleTop">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".FriendsMapActivity">
    </activity>


    <activity
      android:name=".LoginActivity">
    </activity>


    <activity
      android:name=".PreferenceActivity"
      android:label="@string/preference_activity_label">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.PREFERENCE" />
      </intent-filter>
    </activity>


    <activity
      android:name=".SearchVenuesActivity"
      android:label="@string/venue_search_activity_label"
      android:launchMode="singleTop">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <action
          android:name="android.intent.action.SEARCH" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.CREATE_SHORTCUT" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
      <meta-data
        android:name="android.app.default_searchable"
        android:value=".SearchVenueActivity" />
      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>

    <activity
      android:name=".SearchVenuesMapActivity">
    </activity>


    <activity
      android:name=".ShoutActivity"
      android:label="@string/shout_activity_label"
      android:theme="@android:style/Theme.Dialog">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>


    <activity
      android:name=".StatsActivity">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>


    <activity
      android:name=".UserActivity"
      android:theme="@android:style/Theme.Dialog">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>


    <activity
      android:name=".VenueActivity">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".VenueCheckinsActivity">
    </activity>

    <activity
      android:name=".VenueMapActivity">
    </activity>

    <activity
      android:name=".VenueTipsActivity">
    </activity>


    <provider
      android:name=".providers.VenueQuerySuggestionsProvider"
      android:authorities="com.joelapenna.foursquared.providers.VenueQuerySuggestionsProvider" />

  </application>
</manifest>
