<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.joelapenna.foursquared"
  android:versionName="2010-03-28" android:versionCode="2010032800">

  <uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission
    android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission
    android:name="android.permission.CALL_PHONE" />
  <uses-permission
    android:name="android.permission.INTERNET" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission 
    android:name="android.permission.READ_CONTACTS" /> 
  <uses-sdk
    android:minSdkVersion="3"
    android:targetSdkVersion="4" />
  <supports-screens
    largeScreens="true"
    normalScreens="true"
    smallScreens="true" />

  <application
    android:name="Foursquared"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:theme="@style/FoursquareTheme" >

    <meta-data
      android:name="android.app.default_searchable"
      android:value=".SearchVenuesActivity" />

    <provider
      android:name=".providers.VenueQuerySuggestionsProvider"
      android:authorities="com.joelapenna.foursquared.providers.VenueQuerySuggestionsProvider" />
      
    <provider android:name=".providers.GlobalSearchProvider"
      android:authorities="com.joelapenna.foursquared" />

    <uses-library
      android:name="com.google.android.maps" />

    <activity
      android:name=".MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".AddVenueActivity"
      android:label="@string/add_venue_activity_label">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>


    <activity
      android:name=".BrowsableActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW" />
        <category
          android:name="android.intent.category.DEFAULT" />
        <category
          android:name="android.intent.category.BROWSABLE" />

        <data
          android:scheme="http"
          android:host="m.foursquare.com"
          android:pathPattern="/" />
        <data
          android:scheme="http"
          android:host="m.foursquare.com"
          android:pathPrefix="/checkin" />
        <data
          android:scheme="http"
          android:host="m.foursquare.com"
          android:pathPrefix="/checkins" />
        <data
          android:scheme="http"
          android:host="m.foursquare.com"
          android:pathPrefix="/search" />
        <data
          android:scheme="http"
          android:host="m.foursquare.com"
          android:pathPrefix="/shout" />
        <data
          android:scheme="http"
          android:host="m.foursquare.com"
          android:pathPrefix="/user" />
        <data
          android:scheme="http"
          android:host="m.foursquare.com"
          android:pathPrefix="/venue/" />

      </intent-filter>
    </activity>

    <activity
      android:name=".FriendsActivity"
      android:label="@string/checkins_activity_label"
      android:launchMode="singleTop">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".FriendsMapActivity">
    </activity>


    <activity
      android:name=".LoginActivity"
      android:launchMode="singleInstance">
    </activity>


    <activity
      android:name=".NearbyVenuesActivity"
      android:label="@string/venue_search_activity_label">
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>


    <activity
      android:name=".PreferenceActivity"
      android:label="@string/preference_activity_label">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
        <category
          android:name="android.intent.category.PREFERENCE" />
      </intent-filter>
    </activity>


    <activity
      android:name=".SearchVenuesActivity"
      android:label="@string/venue_search_activity_label"
      android:launchMode="singleTop">
      <intent-filter>
        <action
          android:name="android.intent.action.SEARCH" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.CREATE_SHORTCUT" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>
    
    <activity
      android:name=".GlobalSearchActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop">
      <intent-filter>
        <action
          android:name="android.intent.action.SEARCH" />
        <category
          android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data 
         android:name="android.app.searchable"
         android:resource="@xml/global_searchable" />
    </activity>

    <activity
      android:name=".SearchVenuesMapActivity">
    </activity>

    <activity
      android:name=".StatsActivity">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".VenueActivity">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".VenueCheckinsActivity">
    </activity>

    <activity
      android:name=".VenueMapActivity">
    </activity>

    <activity
      android:name=".VenueTipsActivity">
    </activity>
    
    <activity
      android:name=".AddFriendsActivity"
      android:label="@string/add_friends_activity_label">
    </activity>
    
    <activity
      android:name=".AddFriendsByUserInputActivity"
      android:label="@string/add_friends_activity_label">
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".FriendRequestsActivity"
      android:label="@string/friend_requests_activity_label">
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".FetchImageForViewIntent"
      android:theme="@style/ThemeTransparentDialogBase.TransparentDialog">
    </activity> 
    
    <activity
      android:name=".UserDetailsActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".UserFriendsActivity">
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".UserActionsActivity">
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".UserHistoryActivity">
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".BadgesActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".CheckinOrShoutGatherInfoActivity"
      android:theme="@style/ThemeCustomDlgBase.ThemeCustomDlg"
      android:configChanges="keyboardHidden|orientation" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".CheckinExecuteActivity"
      android:theme="@style/ThemeTransparentDialogBase.TransparentDialog" >
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".ShoutExecuteActivity"
      android:theme="@style/ThemeTransparentDialogBase.TransparentDialog" >
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".UserMayorshipsActivity"
      android:label="@string/app_name" >
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".TipActivity"
      android:label="@string/app_name" >
      <intent-filter>
        <action
          android:name="com.joelapenna.foursquared.intent.action.LOGGED_OUT" />
      </intent-filter>
    </activity>
    
    <activity
      android:name=".ChangelogActivity"
      android:theme="@android:style/Theme.Dialog"
      android:label="@string/changelog_activity_title" />
     
    <receiver
      android:name=".appwidget.FriendsAppWidgetProvider"
      android:label="@string/friends_appwidget_3x3_label">
      <intent-filter>
        <action
          android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/friends_appwidget_3x3" />
    </receiver>

    <service
      android:name=".app.FoursquaredService">
    </service>

  </application>
</manifest>
