<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.joelapenna.foursquared.tests"
  android:versionName="2009-07-04"
  android:versionCode="2009070400">

  <uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission
    android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission
    android:name="android.permission.INTERNET" />
  <uses-permission
    android:name="android.permission.READ_PHONE_STATE" />

  <uses-sdk
    android:minSdkVersion="3" />

  <application
    android:name="Foursquared">

    <uses-library
      android:name="android.test.runner" />

    <uses-library
      android:name="com.google.android.maps" />

  </application>

  <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="com.joelapenna.foursquared">
  </instrumentation>
</manifest>
